.profilebutton-body{
    background-color: white;
    padding: 5px 40px;
    font-size: 32px;
    font-weight: 600;
    width: 600px;
    display: flex;
    justify-content: space-between;
    border-radius: 15px;
    flex-direction: row;
    gap: 20px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 5px 5px;
    cursor: pointer;
}

.profile_id{
    color: gray;
    font-size: 28px;
}

.profile-button-image{
    height: 36px;
}