.profile-exit{
    position: absolute;
    display: flex;
    align-items: center;
    gap: 5px;
    right: 0;
}

.profile_content{
    display: flex;
    gap: 75px;
    padding: 20px 0;
}

.profile-page-image{
    width: 225px;
    height: 225px;
    border-radius: 50%;
}

.profile-exit img{
    height: 38px;
    width: 29px;
}

.profile-exit p{
    font-size: 32px;
    font-weight: 600px;
    margin: 0;
}

.profile-exit:hover{
    cursor: pointer;
}

.profile-controls{
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 40px;
}


.profile_navbar{
    text-align: center;
    list-style: none;
    display: flex;
    justify-content:center;
}

.profile_navbar li{
    padding: 20px 65px;
    cursor: pointer;
    font-size: 24px;
    font-weight: 800;
}

.profile_nav{
    border-bottom: 5px solid white;
}


.profile_nav_active{
    border-bottom: 5px solid black;
}